<div id="<%= dom_id entry %>">
  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= entry.url %>
  </p>

  <p>
    <strong>Repository url:</strong>
    <%= entry.repository_url %>
  </p>

  <p>
    <strong>Uses:</strong>
    <%= entry.uses %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= entry.host %>
  </p>

  <p>
    <strong>Operating system:</strong>
    <%= entry.operating_system %>
  </p>

</div>
