<%= tag.article id: dom_id(entry), class: "space-y-3" do %>
  <div class="flex justify-between items-center">
    <hgroup>
      <h2 class="font-bold flex items-center text-2xl gap-2"><%= entry.name %></h2>
      <h3 class="text-sm">
        <%= entry_submitted_by(entry.user) %>
      </h3>
    </hgroup>

    <p class="flex items-center gap-2">
      <%= link_to entry.url, class: "group text-blue-500 decoration-blue-500" do %>
        <span class="group-hover:underline">Visit app</span>
        <i>↗</i>
      <% end %>
      <span>|</span>
      <%= link_to entry.repository_url, class: "group text-blue-500 decoration-blue-500" do %>
        <span class="group-hover:underline">View source</span>
        <i>↗</i>
      <% end %>
    </p>
  </div>

  <% if entry.host && entry.operating_system %>
    <p>Running on <span class="inline-flex items-baseline gap-1"><%= render_svg "hosts/#{entry.host.underscore}", class: "h-4 w-4" %><strong><em><%= entry.host %></em></strong></span> and <span class="inline-flex items-baseline gap-1"><%= render_svg "operating_systems/#{entry.operating_system.underscore}", class: "h-4 w-4" %><strong><em><%= entry.operating_system %></em></strong></span>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% elsif entry.host %>
    <p>Running on <span class="inline-flex items-baseline gap-1"><%= render_svg "hosts/#{entry.host.underscore}", class: "h-4 w-4" %><strong><em><%= entry.host %></em></strong></span>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% elsif entry.operating_system %>
    <p>Running on <span class="inline-flex items-baseline gap-1"><%= render_svg "operating_systems/#{entry.operating_system.underscore}", class: "h-4 w-4" %><strong><em><%= entry.operating_system %></em></strong></span>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% end %>

  <%#= render "entries/actions", entry: entry %>
<% end %>

<hr class="mt-4 pb-4">
