<%= tag.article id: dom_id(entry), class: "space-y-3" do %>
  <div class="flex justify-between items-center">
    <hgroup>
      <h2 class="font-bold flex items-center text-2xl gap-2"><%= entry.name %></h2>
      <h3 class="text-sm">
        Submitted by: <%= entry_submitted_by(entry.user) %>
      </h3>
    </hgroup>

    <p class="flex items-center gap-4">
      <%= link_to entry.url, class: "group text-blue-500 decoration-blue-500" do %>
        <span class="group-hover:underline">Visit app</span>
        <i>↗</i>
      <% end %>
      <% if entry.repository_url? %>
        <%= link_to entry.repository_url, class: "group text-blue-500 decoration-blue-500" do %>
          <span class="group-hover:underline">View source</span>
          <i>↗</i>
        <% end %>
      <% end %>
    </p>
  </div>

  <% if entry.host.present? && entry.operating_system.present? %>
    <p>Running on <%= render_svg "hosts/#{entry.host.underscore}", class: "inline-block h-4 w-4 mb-1" %><strong><em><%= entry.host %></em></strong> and <%= render_svg "operating_systems/#{entry.operating_system.underscore}", class: "inline-block h-4 w-4 mb-1" %><strong><em><%= entry.operating_system %></em></strong>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% elsif entry.host.present? %>
    <p>Running on <span class="inline-flex items-baseline gap-1"><%= render_svg "hosts/#{entry.host.underscore}", class: "h-4 w-4" %><strong><em><%= entry.host %></em></strong></span>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% elsif entry.operating_system.present? %>
    <p>Running on <span class="inline-flex items-baseline gap-1"><%= render_svg "operating_systems/#{entry.operating_system.underscore}", class: "h-4 w-4" %><strong><em><%= entry.operating_system %></em></strong></span>. Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% else %>
    <p>Using SQLite for <%= entry.uses.compact_blank.map { "<strong><em>#{_1}</em></strong>" }.to_sentence.html_safe %>.</p>
  <% end %>

  <% if entry.user == Current.user %>
    <div class="flex gap-2 items-center justify-end">
      <div class="flex gap-2">
        <%= link_to "Edit this entry", edit_entry_path(entry), class: button_classes(type: :primary) %>
      </div>
      <%= button_to "Destroy this entry", entry, method: :delete, class: button_classes(type: :danger) %>
    </div>
  <% end %>
<% end %>

<hr class="mt-4 pb-4">
