<%= form_with(model: entry, class: "contents") do |form| %>
  <%= render "shared/error_messages", resource: entry %>

  <%= render "shared/text_field",
        form: form,
        attribute: :name,
        options: { placeholder: "e.g. My Awesome App" } %>

  <%= render "shared/text_field",
        form: form,
        attribute: :url,
        options: { placeholder: "e.g. https://my-awesome-app.com" } %>

  <%= render "shared/fieldset_checkboxes",
        form: form,
        attribute: :uses,
        allow_other: false,
        options: {} %>

  <%= render "shared/text_field",
        form: form,
        attribute: :repository_url,
        options: { placeholder: "e.g. https://github.com/me/my-awesome-app" } %>

  <%= render "shared/select_field",
        form: form,
        attribute: :host,
        options: {} %>

  <%= render "shared/select_field",
        form: form,
        attribute: :operating_system,
        options: {} %>

  <hr class="mt-8 pb-8">

  <div class="inline-block">
    <%= form.submit class: button_classes(type: :primary) %>
  </div>
<% end %>
