<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "sqlite.directory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-dvh flex flex-col px-4">
    <header class="w-full max-w-6xl mx-auto py-4 mb-4 text-lg flex justify-between items-center border-b">
      <h2 class="flex items-center gap-2">
        <%= image_tag "/icon.svg" %>
        <%= link_to root_path, class: "group" do %>
          <code class="">
            <span class="text-blue-500 group-hover:underline decoration-blue-500">sqlite</span>
            <span class="inline-block group-hover:animate-bouncing -mx-3">.</span>
            <span class="text-black group-hover:underline decoration-black">directory</span>
          </code>
        <% end %>
      </h2>

      <div class="inline-flex items-center gap-2">
        <%= button_to "/developer/authorization?origin=sign_up", data: { turbo: false }, class: "bg-[#1F2328] text-white rounded-md px-3 py-1 flex items-center space-x-2 hover:ring-4 hover:ring-gray-400" do %>
          <%= render_svg "github" %>
          <span class="font-medium">Sign in</span>
        <% end %>
      </div>
    </header>

    <main class="flex-grow w-full max-w-4xl mx-auto text-left">
      <%= yield %>
    </main>

    <footer class="w-full max-w-6xl mx-auto py-4 mt-24 text-base flex justify-between items-center border-t">
      <p>Made by <a href="https://twitter.com/fractaledmind" class="text-blue-500 hover:underline decoration-blue-500">@fractaledmind</a> and <a href="https://github.com/fractaledmind/sqlite.directory/graphs/contributors" class="text-blue-500 hover:underline decoration-blue-500">friends</a>! Want to help? It's <a href="https://github.com/fractaledmind/sqlite.directory" class="text-blue-500 hover:underline decoration-blue-500">open source</a>!</p>


    </footer>
  </body>
</html>
