<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "sqlite.directory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-dvh flex flex-col px-4">
    <header class="w-full max-w-6xl mx-auto py-4 mb-4 text-lg flex justify-between items-center flex-wrap gap-y-2 border-b">
      <h2 class="flex items-center gap-2 whitespace-nowrap">
        <%= link_to root_path, class: "group" do %>
          <%= image_tag "/icon.svg", class: "inline-block" %>
          <code class="">
            <span class="text-blue-500 group-hover:underline decoration-blue-500">sqlite</span>
            <span class="inline-block group-hover:animate-bouncing -mx-3">.</span>
            <span class="text-black group-hover:underline decoration-black">directory</span>
          </code>
        <% end %>
      </h2>

      <div class="ml-auto inline-flex items-center gap-2">
        <% if Current.user.present? %>
          <%= link_to user_path(Current.user), class: "group flex items-center gap-2" do %>
            <%= image_tag user_avatar_url(Current.user, size: 32), class: 'w-8 h-8 rounded-full' %>
            <code class="text-black group-hover:text-blue-500 group-hover:underline decoration-blue-500"><%= Current.user.github_username %></code>
            <span class="invisible group-hover:visible text-blue-500">›</span>
          <% end %>
        <% else %>
          <%= button_to github_authorization_path, data: { turbo: false }, class: "bg-[#1F2328] text-white rounded-md px-3 py-1 flex items-center space-x-2 hover:ring-4 hover:ring-gray-400" do %>
            <%= render_svg "github" %>
            <span class="font-medium">Sign in</span>
          <% end %>
        <% end %>
      </div>
    </header>

    <main class="flex-grow w-full max-w-4xl mx-auto text-left">
      <%= yield %>
    </main>

    <footer class="w-full max-w-6xl mx-auto py-4 mt-24 text-base flex justify-between items-center flex-wrap-reverse gap-y-2 border-t">
      <p class="text-balance">Made by <a href="https://twitter.com/fractaledmind" class="text-blue-500 hover:underline decoration-blue-500">@fractaledmind</a> and <a href="https://github.com/fractaledmind/sqlite.directory/graphs/contributors" class="text-blue-500 hover:underline decoration-blue-500">friends</a>! Want to help? It's <a href="https://github.com/fractaledmind/sqlite.directory" class="text-blue-500 hover:underline decoration-blue-500">open source</a>!</p>

      <% if Current.session %>
        <%= button_to "Sign out", Current.session, method: :delete, class: "whitespace-nowrap rounded bg-transparent text-red-500 border border-red-500 py-0 px-2 hover:bg-red-500 hover:text-white" %>
      <% end %>
    </footer>

    <div class="fixed z-10 top-1 left-0 right-0 text-center py-2">
      <% if notice.present? %>
        <p id="notice"
           class="py-2 px-3 bg-green-50 text-green-500 border border-green-200 font-medium rounded-lg inline-block"
           data-controller="fade">
          <%= notice %>
        </p>
      <% end %>

      <% if alert.present? %>
        <p id="alert"
           class="py-2 px-3 bg-red-50 text-red-500 border border-red-200 font-medium rounded-lg inline-block"
           data-controller="fade">
          <%= alert %>
        </p>
      <% end %>
    </div>

    <% if Rails.env.development? %>
      <div class="-mx-4 -z-10 text-center text-xs text-white bg-red-500 sm:bg-orange-500 md:bg-yellow-500 lg:bg-green-500 xl:bg-blue-500 2xl:bg-indigo-500">
        <code class="inline sm:hidden">xs</code>
        <code class="hidden sm:inline md:hidden">sm</code>
        <code class="hidden md:inline lg:hidden">md</code>
        <code class="hidden lg:inline xl:hidden">lg</code>
        <code class="hidden xl:inline 2xl:hidden">xl</code>
        <code class="hidden 2xl:inline">2xl</code>
    <% end %>
  </body>
</html>
